.aguaviento-container .aguaviento-content.company
    width 700px
	
	.aguaviento-section-title.company
    margin 87px auto 40px auto 
		img
			right 185px
			
.company-divider-container
  width 604px
  margin 0 auto 24px auto
  
.company-description
  font-size 16px
  margin 0 auto 60px auto
  color #555555
  font-weight bold
  text-align center
  width 580px
  p
    line-height 23px
  span
    font-weight normal

.company-features
  margin-bottom 106px
  
  .company-feature
    display inline-block
    margin-right 45px
    .company-feature-image
      display flex
      justify-content center
      height 70px
      align-items center
      margin-bottom 35px
  button
    border 0
    height 38px
    background #0d74b9
    border-radius 4px
    color #fff
    font-size 9.5px
    cursor pointer
    letter-spacing 1px
    &:hover
      background #0965a3
  .vision,.mission
    button
      width 115px
  .quality-politics, .company-video
    button
      width 160px
  :last-child
    margin-right 0
  .vision
    img
      width 63px
      height 35px
  .mission
    img
      width 59px
      height 65px
  .quality-politics
    img
      width 56px
      height 66px
  .company-video
    img
      width 65px
      height 65px
.company-cover
  height 384px
  background  url('../img/screen-shot-2017-05-25-at-6-57-59-pm@3x.png')
  background-size cover
  

.company-certification
  display flex
  color #fff
  height 359px
  .iso-description
    background #6AD8D5
    width 50%
    display flex
    justify-content flex-end
    .description
      width 360px
      background-color #fff
      background-image url('../img/circulo.png')
      background-size cover
      background-position top right
      
      .description-title
        margin 86px 0 16px
        width 289px
        h3
          font-size 30px
          font-weight 200
          margin 0
        span
          color #1f7db9
      .description-divider
        height 1px
        width 80px
        background #1f7db9
      .description-content
        width 289px
        font-size 15px
        font-weight 200
        margin 13px 0 113px 0
      
  .iso-image
    width 50%
    
    .image-container
      margin 90px auto auto 140px
      img
        width 221px
        height 165px

.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening
  filter none !important

.remodal-overlay
  background-color #0d74b9 !important
  opacity .86
.remodal
  .aguaviento-modal
    .modal-close
      background  url('../img/icons/close-modal-blue@3x.png')
      background-size cover
      cursor pointer
      width 13px
      height 13px
      border 0
      position absolute
      top 25px
      right 25px
      &.video
        background url('../img/icons/close-modal-white@3x.png')
        background-size cover
        top -40px
        right 0
    .modal-title
      font-size 21px
      color #2582c0
      font-weight 900
      letter-spacing 0.4px
      font-weight $thin
      margin-bottom 18px
      h3
        margin 0
        margin-top 70px
    .modal-divider
      width 375px
      height 1px
      background #2582c0
      margin 0 auto
    .modal-content
      padding 0
      width 492px
      background #fff
      margin 31px auto 65px auto
      p
        margin 0
        margin-bottom 8px
        color #666
        font-size 14px
      :last-child
        margin-bottom 0
  &.video
    padding 0
    margin 0
.remodal.video.remodal-is-initialized.remodal-is-opened,
.remodal.video.remodal-is-initialized.remodal-is-opening
  background transparent

@media only screen and (max-width 710px)
  .aguaviento-container .aguaviento-content.company
    width 500px
    .aguaviento-section-title.company
      img
        right 100px
    .company-divider-container
      width 500px
      margin 0 auto 24px auto
    .company-description
      width 500px
    .company-features
      margin 0 auto 160px auto
      display flex
      flex-wrap wrap
      justify-content space-around
      width 388px
      .company-feature
        margin-right 0
      .vision, mission
        margin-bottom 50px
  .description
    padding-left 20px
  .image-container
    margin 90px auto auto 60px !important
  .remodal.video
    width 600px
    height 337px
    iframe
      width 600px
      height 337px

@media only screen and (max-width 415px)
  .aguaviento-container .aguaviento-content.company
    width 375px
    .aguaviento-section-title.company
      img
        right 45px
    .company-divider-container
      width 315px
      margin 0 auto 24px auto
    .company-description
      width: 276px;
      line-height: 24px;
    .company-features
      margin 0 auto 60px auto
      display flex
      flex-wrap wrap
      justify-content space-around
      width 388px
      .company-feature
        margin-right 0
      .vision, mission
        margin-bottom 50px
  .company-certification
    height 700px
    display flex
    flex-direction column
    .iso-description
      background #74d7d4
      width 100%
    .iso-image
      width 100%
      height 500px
      display flex
      justify-content center
      align-items center
      .image-container
        margin 0 !important
      
  .remodal.video
    width 600px
    height 337px
    iframe
      width 600px
      height 337px

@media only screen and (max-width 414px)
  .aguaviento-container .aguaviento-content.company
    width 320px
    .aguaviento-section-title.company
      margin-top 57px
      img
        right 20px
    .company-divider-container
      width 290px
      margin 0 auto 24px auto
    .company-description
      width 276px
      line-height 24px
      margin-bottom 35px
    .company-features
      margin 0 auto 60px auto
      display flex
      flex-wrap wrap
      justify-content space-around
      width 229px
      
      .company-feature
        margin-right 0
        margin-bottom 50px
      :last-child
        margin-bottom 0
  .company-certification
    height 700px
    display flex
    flex-direction column
    .iso-description
      background #6AD8D5
      width 100%
      p
        width 90%
    .iso-image
      width 100%
      height 500px
      display flex
      justify-content center
      align-items center
      .image-container
        margin 0 !important
  .modal-divider
    width 214px !important  
  .modal-content
    width 230px !important
    p
      width 230px
      line-height 20px
  .remodal.video
    width 300px
    height 168.5px
    
    iframe
      width 300px
      height 168.5px















  
      