.fade
  height 442px
  width 100%
  margin-top 82px
.aguaviento-header
  width 100% !important
  height 442px !important
  position relative
.header-prev, .header-next
  display none !important
.oval-box
  position realtive 
  width 508px
.header-first-oval
  width 508px
  height 437px
  position absolute
  left 0px
  bottom 0px
.header-second-oval
  width 451px
  height 437px
  position absolute
  left 0px
  bottom 0px 
.header-last-oval
  width 195px
  height 140px
  position absolute
  left 296px
  bottom 0px 
.header-text-info
   font-size 29px
   padding-bottom 6px
.header-text-divider
  width 80px
  height 1px
  background-color #ffffff
.header-text-about
  font-size 15px
  line-height 18px
  padding-top 13px
  width 282px
.header-text-box
  position absolute
  left 86px
  top 0px
.header-text-box.one
  position absolute
  left 86px
  top 123px
.header-text-box.two
  position absolute
  left 86px
  top 156px
.header-text-box.three
  position absolute
  left 86px
  top 156px
.aguaviento-header.one
  width 100vw !important
  height 442px !important
  background url("../img/foto-de-atras@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center bottom
.aguaviento-header.two
  width 100vw !important
  height 442px !important
  background url("../img/manos.jpg")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position right center
.aguaviento-header.three
  width 100vw !important
  height 442px !important
  background url("../img/group-24@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center bottom
.blue-filler-container
  position relative
  width 100%
  height 255px
  background-color #0d74b9
.aguaviento-flex-column
  display flex
  flex-direction column
  align-items center
  justify-content center
.aguaviento-flex-row
  display flex
  flex-direction row
  align-items center
  justify-content center
.arrow-blue-icon
  width 8px
  height 5px
  margin-top 13px
.arrow-blue-box
  width 44px
  height 44px
  background-color #0d74b9
  border-radius 100px
  position absolute
  left 50%
  top -22px
  margin-left -22px
  justify-content flex-start
.no-margin-text
  margin 0
.white-text
  color #ffffff
.dark-indigo-text
  color #0d2f4a
.nice-blue-text
  color #0d74b9
.bluish-text
  color #2281be
.text-center
  text-align center
.letter-spacing-less-dot-five
  letter-spacing -0.5px
.letter-spacing-less-dot-one
  letter-spacing -0.1px
.letter-spacing-dot-one
  letter-spacing 0.1px
.letter-spacing-dot-six
  letter-spacing 0.6px
.blue-filler-title-text
  font-size 29px
.cursor-pointer
  cursor pointer
.uppercase
  text-transform uppercase
.blue-filler-button-box
  width 115px
  background-color #b2e1f7
  border-radius 4px
  height 37px
  font-size 10px
  margin-top 24px
.hover-light-blue
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.hover-light-blue:hover
  background-color #c1e7f8
.first-section-title-text
  font-size 30px
.first-section-title-box
  margin-top 88px
  position relative
.first-section.bottom
  padding-bottom 96px
  position relative
.first-section-title-icon
  width 44px
  height 44px
  position absolute
  right -22px
  top -5px
  z-index -1
.greyish-brown-text
  color #555555
.first-section-content-text
  font-size 16px
  line-height 20px
.first-section-content-box
  width 611px
  padding-top 30px
.seafoam-divider
  height 1px
  background-color #63d5d0
.first-section.seafoam-divider
  width 604px
  margin-top 42px
.aguaviento-link
  text-decoration none
.fisrt-section-feature-title-text
  font-size 21px
.first-section-feature-box
  box-sizing border-box
  width 370px
  margin-left 25px
  margin-right 25px
.first-section-feature-image
  width 100%
  height 206px
  margin-top 23px
.first-section-feature-image.first
  background url("../img/screen-shot-2017-05-25-at-6-46-07-pm@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center bottom
.first-section-feature-image.second
  background url("../img/screen-shot-2017-05-25-at-6-48-07-pm@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center bottom
.first-section-feature-title-box
  padding-top 58px
.first-section-feature-button-box
  width 115px
  height 37px
  background-color #0d74b9
  border-radius 4px
  margin auto
  margin-top 30px
.hover-nice-blue
  transition all 0.1s linear
  -webkit-transition all 0.1s linear
  -o-transition all 0.1s linear
  -moz-transition all 0.1s linear
.hover-nice-blue:hover
  background-color #3d8fc7
.first-section-feature-button-text
  font-size 10px 
.first-section-oval-image
  width 155px
  height 225px
.first-section-oval-box
  position absolute
  left 0px
  top 32px
.first-parallax-section
  width 100%
  height 354px
  background url("../img/group-4@3x.png")
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position center bottom
  position relative
.parallax-section-circle-img
  position absolute
  right 0px
  top 0px
  height 354px
  width auto
.first-parallax-section-button-text
  font-size 10px
.first-parallax-section-button-box
  background-color #b2e1f7
  width 115px
  height 37px
  border-radius 4px
.first-parallax-section-title-text
  font-size 26px
  padding-bottom 20px
.first-parallax-section-title-box
  width 361px
  position absolute
  right 71px
  top 104px
.second-section.bottom
  padding-bottom 100px
  width 100%
.second-section-title-box
  position relative
  width 135px
  margin-top 82px
.second-section-title-text
  font-size 30px
.second-section-title-icon
  width 44px
  height 44px
  position absolute
  right -22px
  top -5px
  z-index -1
.second-section-content-box
  width 600px
  z-index -1
  padding-top 39px
.second-section-content-text
  font-size 16px
  line-height 20px
.service-title
  font-size 19px
.service-about-text
  width 222px
  font-size 12px
  line-height 15px
  padding-top 8px
.service-icon
  margin-left 22px
.service-icon.first
  height 68px
  width auto
.service-icon.second
  height 99px
  width auto
.second-section-service-box
  padding-left 48px
  padding-right 48px
  padding-top 34px
  padding-bottom 40px
.second-section-service-box.border
  border-right solid 1px #2786c3
.second-section-services-container
  padding-top 72px
  padding-bottom 31px
  align-items flex-start !important
.second-section-service-box.first
  padding-left 82px
.blue-paprallax-title-text
  font-size 35px
.blue-parallax-title-box
  width 520px
.blue-parallax
  width 100%
  height 354px
  background url("../img/group-2@3x.png")
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position left bottom
  position relative
.blue-parallax-overlay
  width 100%
  height 354px
  background rgba(39, 134, 195, .79)
.third-section-title-text
  font-size 30px
.third-section-title-box
  width 158px
  position relative
.third-section-title-icon
  width 44px
  height 44px
  position absolute
  right -22px
  top -5px
  z-index -1
.third-section-box
  padding-top 70px
  position relative
  padding-bottom 106px
.third-section-content-box
  width 556px
  padding-top 22px
.third-section-content-text
  line-height 20px
  font-size 16px
.nice-blue-divider
  height 1px
  background-color #0d74b9 
.nice-blue-divider.third-section
  width 594px
  margin-top 52px
.third-section-oval-box
  position absolute
  left 0px
  top -30px
  z-index -1
.product-box
  width 427px
  height 184px
  box-sizing border-box
  background url("../img/group-19@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center top
  position relative
.product-circles-image
  height 184px
  width auto
  position absolute
  left 0px
  top 0px
.product-item-text
  font-size 15px
  margin-top 30px
  border-bottom solid 2px transparent
  padding-bottom 7px
.product-link
  text-decoration none
  width 150px !important
.product-item-icon
  height 75px
  width auto
.product-item-box
  margin auto
  width 150px !important
.products-slider
  width 600px
  padding-top 105px
  padding-bottom 127px
.product-prev, .product-next
  width 40px
  height auto
.product-prev
  position absolute
  left -200px
  top 50%
  margin-top -20px
.product-next
  position absolute
  right -200px
  top 50%
  margin-top -30px
.product-item-box:hover .product-item-text
  border-bottom solid 2px #0d74b9
.modal-open
  display block !important

#body.modal-open 
  overflow hidden

.modal
  display none
  position fixed
  z-index 9999
  left 0
  top 0
  width 100%
  height 100%
  overflow scroll
  background-color rgb(0,0,0)
  background-color rgba(13, 116, 185, 0.9)
.close-modal-img
  width 23px
  height 20px
.modal-content 
  background-color #f5f5f5
  margin 10% auto
  padding 0px
  padding-top 20px
  width 570px
  position relative

.modal-close-btn-container
  position absolute
  right -30px
  top -40px

.close 
  color #f5f5f5
  float right
  font-size: 20px
  font-weight lighter

.close:hover,
.close:focus 
  color #f5f5f5
  text-decoration none
  cursor pointer

.modal-header
  padding-bottom 20px

.modal-title
  font-size 25px
  letter-spacing 0.3px
  margin 0
  line-height 26px
.modal-title-logo
  width 139px
  margin-bottom -5px
.modal-body
  padding-top 37px
  background-color #ffffff
.modal-header
  background-color #f3f3f4
  padding-top 33px
  padding-bottom 30px
.modal-title-box
  width 337px
  text-align center
.modal-title
  font-size 23px
.modal-gold-divider
  width 40px
  height 5px
  background-color #c2a463
  margin-top 20px
.modal-subtitle
  width 358px
  text-align center
.modal-content-services
  background-color transparent
  margin 10% auto
  padding 0
  border transparent
  width 80%
  max-width 376px
  position relative
.last-section-feature-button-box
  width 135px
  height 37px
  background-color #0d74b9
  border-radius 4px
  margin auto
  margin-top 30px
.servicesOne
  width 378px
.servicesTwo
  width 378px
.modal-service-image.one
  width 376px
  height 238px 
  background url("../img/screen-shot-2017-05-26-at-2-07-32-pm@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center top
.modal-service-image.two
  width 376px
  height 238px 
  background url("../img/screen-shot-2017-05-26-at-2-07-32-pm@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center top
.modal-service-image.three
  width 376px
  height 238px 
  background url("../img/screen-shot-2017-05-26-at-2-07-32-pm@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center top
.service-prev, .service-next
  width 40px
  height auto
.service-prev
  position absolute
  left -50px
  top 50%
  margin-top -20px
.service-next
  position absolute
  right -50px
  top 50%
  margin-top -30px
.modal-close-btn
  position absolute
  right 0px
  top -30px
.slick-dots
  list-style none
  position absolute
  bottom -45px
  display block
  width 100%
  padding 0
  list-style none
  text-align center
.slick-dots li 
  position relative
  display inline-block
  width 20px
  height 20px
  margin 0 0
  padding 0
  cursor pointer
.slick-dots li button 
  font-size 0
  line-height 0
  display block
  width 20px
  height 20px
  padding 5px
  cursor pointer
  color transparent
  border 0
  outline none
  background transparent
.slick-dots li.slick-active button::before 
  font-family slick
  font-size 27px
  line-height 20px
  position absolute
  top 0px
  left 0px
  width 20px
  height 20px
  content "•"
  text-align center
  opacity 0.75
  color #ffffff
  -webkit-font-smoothing antialiased
.slick-dots li button::before
  font-family slick
  font-size 27px
  line-height 20px
  position absolute
  top 0px
  left 0px
  width 20px
  height 20px
  content "•"
  text-align center
  opacity 0.25
  color #ffffff
  -webkit-font-smoothing antialiased
    
