.innovation-parallax-container
  width 100vw
  height 37vw
  margin-top 87px
  background url("../img/mountain-forest.jpg")
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
  background-position center -20px