/* Styles for mobile devices */

@media only screen and (min-width: 767px) and (max-width: 768px){
  .hamburger {
    display: inline !important;
    position: fixed;
    padding: 0px !important;
    top: 2.3rem;
    right: 2rem;
    z-index: 1;
  }
  #neopraxis-hamburger-menu{
    display: inline-block !important;
  }
  #neopraxis-main-navbar{
    display: none;
  }
  .neopraxis-navbar {
    justify-content: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar-brand {
    margin-left: 0px !important;
  }
  .neopraxis-navbar-style {
    position: fixed;
    width: 15rem;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 0px;
    background: white;
    bottom: 0px;
    display: inline !important;
  }
  #neopraxis-main-navbar {
    display: none;
  }
  #neopraxis-main-navbar-right {
    display: none;
  }
  #neopraxis-main-navbar > ul {
    padding-top: 0rem;
    width: 120px;
    margin:0 auto;
  }
  #neopraxis-main-navbar {
    position: fixed;
    background-color: #ffffff;
    width: 190px;
    padding-left: 0px;
    top: 78px;
    left: 0px;
    height: 100vh;
    margin-left 0px;
  }
  .nav li {
      display: block;
      float: left;
      list-style-type: none;
      margin-right: 0.8em;
      padding-top: 20px;
      width: 100%;
      border-top: solid 4px #fff;
      padding-left: 20px;
  }
  .hamburger {
    display: inline !important;
    position: fixed;
    top: 23px;
    right: 2rem;
    z-index: 1;
  }
  .hamburger-box {
    width: 30px !important;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 30px !important;
    height: 3px !important;
    background-color: #63d5d0;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before{
    top:-7px !important;
  }
  .neopraxis-remove-margin-images {
    margin-right:0px !important;
    margin-left: 0px !important;
  }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0px !important;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .products-slider {
    width: 50%;
    padding-top: 105px;
    padding-bottom: 127px;
  }
  .first-section-feature-box {
    box-sizing: border-box;
    width: 310px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .product-prev {
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: -20px;
  }
  .product-next {
    position: absolute;
    right: -100px;
    top: 50%;
    margin-top: -20px;
  }
  .product-item-box {
    margin: auto;
    width: 130px !important;
  }
  .product-link {
    text-decoration: none;
    width: 190px !important;
  }
  .fade {
    height: 442px;
    width: 100%;
    margin-top: 73px;
  }
}
@media only screen and (max-width: 767px) {
  #neopraxis-hamburger-menu{
    display: inline-block !important;
  }
  .hamburger {
    display: inline !important;
    position: fixed;
    padding: 0px !important;
    top: 2.3rem;
    right: 2rem;
    z-index: 1;
  }
  .hamburger-box {
    width: 30px !important;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    width: 30px !important;
    height: 3px !important;
    background-color: #63d5d0;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before{
    top: -7px;
  }
  .neopraxis-remove-margin-images {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .hamburger-collapse.is-active .hamburger-inner::before {
    top: 0px !important;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #neopraxis-main-navbar {
    display: none;
    position: fixed;
    background-color: #ffffff;
    width: 190px;
    padding-left: 0px;
    top: 88px;
    left: 0px;
    height: 100vh;
    margin-left: 0px;
  }
  .nav li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.8em;
    padding-top: 20px;
    border-top: solid 4px #fff;
    width: 100%;
    padding-left: 20px;
  }
  #neopraxis-main-navbar-right {
    display: none;
  }
  #neopraxis-main-navbar > ul {
    padding-top: 0rem;
    width: 120px;
    margin:0 auto;
    padding-bottom: 1rem;
  }
  .neopraxis-navbar-style {
    position: fixed;
    width: 15rem;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 0px;
    background: white;
    bottom: 0px;
    display: inline !important;
  }
  .neopraxis-navbar {
    justify-content: center !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .navbar-brand {
    margin-left: 0px !important;
  }
  #neopraxisNavbar{
    display: flex !important;
  }
  .nav li.active {
    border-top: none;
    border-left: solid 4px #318bc5;
  }
  .aguaviento-header {
    width: 100%;
    height: 442px;
    background: url(../img/foto-de-atras@3x.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  
  .aguaviento-header .oval-box img {
    opacity .7
  }
  
  .blue-filler-title-text {
    font-size: 24px;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .first-section.seafoam-divider {
    width: 80%;
    margin-top: 42px;
  }
  .first-section-content-text {
    font-size: 16px;
    line-height: 20px;
  }
  .first-section-content-box {
    width: 80%;
    padding-top: 30px;
  }
  .frist-section-row{
    flex-direction: column !important;
    width: 100%;
  }
  .first-section-feature-box {
    box-sizing: border-box;
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .first-parallax-section {
    width: 100%;
    height: 218px;
    background: url(../img/group-4@3x.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
  }
  .parallax-section-circle-img {
    position: absolute;
    right: 0px;
    bottom: 0px !important;
    height: 218px;
    width: auto;
  }
  .first-parallax-section-title-text {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .first-parallax-section-title-box {
    width: 60%;
    position: absolute;
    right: 31px;
    top: 54px;
  }
  .second-section-content-box {
    width: 80%;
    z-index: -1;
    padding-top: 39px;
  }
  .second-section-services-container {
    padding-top: 72px;
    padding-bottom: 31px;
    flex-direction: column !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .second-section-service-box.first {
  padding-left: 48px;
  }
  .blue-parallax-title-box {
    width: 80%;
  }
  .blue-paprallax-title-text {
    font-size: 25px;
  }
  .blue-parallax {
    width: 100%;
    height: 354px;
    background: url(../img/group-2@3x.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    position: relative;
  }
  .third-section-oval-box {
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: -1;
    display: none;
    opacity .5
  }
  .nice-blue-divider.third-section {
    width: 80%;
    margin-top: 52px;
  }
  .product-prev {
    position: absolute;
    left: -60px;
    top: 50%;
    margin-top: -20px;
  }
  .product-next {
    position: absolute;
    right: -60px;
    top: 50%;
    margin-top: -20px;
  }
  .product-link {
    text-decoration: none;
    width: 200px !important;
  }
  .product-item-box {
    margin auto;
    width: 200px !important;
  }
  .products-slider {
    width: 200px;
    padding-top: 105px;
    padding-bottom: 0px;
  }
  .footer-link-box.mobile {
    border-right: solid 1px transparent;
    height: 13px;
    margin-top: 10px;
  }
  .fade {
    height: 350px;
    width: 100%;
    margin-top: 82px;
  }
  .header-text-box.one {
    position: absolute;
    left: 50px;
    top: 123px;
  }
  .header-text-box.two {
    position: absolute;
    left: 50px;
    top: 156px;
  }
  .header-text-box.three {
    position: absolute;
    left: 50px;
    top: 156px;
  }
  .modal-content-services {
    background-color: transparent;
    margin: 30% auto;
    padding: 0;
    border: transparent;
    width: 80%;
    max-width: 376px;
    position: relative;
  }
  .modal-service-image.one{
    width: 326px;
    height: 168px;
  }
  .modal-service-image.two{
    width: 326px;
    height: 168px;
  }
  .modal-service-image.three{
    width: 326px;
    height: 168px;
  }
  .servicesOne{
    width: 250px;
    margin: auto;
  }
  .servicesTwo{
    width: 250px;
    margin: auto;
  }
  .footer-links-container{
    width: 300px;
    flex-wrap: wrap;
  }
}

