.aguaviento-section-title
  &.products
    margin 68px auto 42px auto
    img
      right 200px

.products-carroussel
  width 100%
  height 38.4vw
  position relative
  .slick-arrow
    border none
    background none
    position absolute
    top 180px
    width 30px
    height 57px
    background-size cover
    content none
    cursor pointer
  .slick-prev
    z-index 1
    background-image url('../img/products-left-arrow.png')
    left 0
  .slick-next
    z-index 1
    background-image url('../img/products-right-arrow.png')
    right 0
  .slick-dots
    padding 0
    position relative
    margin-left auto
    margin-right auto
    width auto
    top -60px
    li.slick-active button::before, li button::before
      content ''
    :last-child
      margin-right 0
    li
      list-style-type none
      display inline-block
      width 10px
      height 10px
      margin-right 10px
      :hover
        background #fff

      button
        width 10px
        background #b2e1f7
        height 10px
        padding 0
        border 0
        border-radius 50%
        cursor pointer
    li.slick-active
      button
        background #fff
  .slick-list.draggable
    height 100%
    .slick-track
      height 100%
      [class*='products-slide-']
        .slider-title
          position relative
          img
            width 212px
            height 190px
            position absolute
            left 12px
          .slide-title
            color #fff
            font-size 17px
            font-weight normal
            position absolute
            top 48px
            left 55px
            width 111px
            letter-spacing .3px
.products-slide-
  &one
    background url("../img/maquinaria/maquinaria-1.jpg")
    background-size cover
  
  &two
    background url("../img/maquinaria/maquinaria-2.jpg")
    background-size cover
    background-position center
  
  &three
    background url("../img/maquinaria/maquinaria-3.jpg")
    background-position center
    background-size cover

  &four
    background url("../img/maquinaria/maquinaria-4.jpg")
    background-position center
    background-size cover

  &five
    background url("../img/maquinaria/maquinaria-5.jpg")
    background-position center
    background-size cover
  
  &six
    background url("../img/maquinaria/maquinaria-6.jpg")
    background-position center
    background-size cover

  &seven
    background url("../img/maquinaria/maquinaria-7.jpg")
    background-position center
    background-size cover

  &eight
    background url("../img/maquinaria/maquinaria-8.jpg")
    background-size cover
    background-position center 10%

  &nine
    background url("../img/maquinaria/maquinaria-9.jpg")
    background-size cover
    background-position: center 40%;

  &ten
    background url("../img/maquinaria/maquinaria-10.jpg")
    background-position center
    background-size cover

  &eleven
    background url("../img/maquinaria/maquinaria-11.jpg")
    background-position center
    background-size cover

  &twelve
    background url("../img/maquinaria/maquinaria-12.jpg")
    background-position center
    background-size cover

  &thirteen
    background url("../img/maquinaria/maquinaria-13.jpg")
    background-position center
    background-size cover

  &fourteen
    background url("../img/maquinaria/maquinaria-14.jpg")
    background-position center
    background-size cover

.products-divider-container
  width 516px
  margin 0 auto
.products-categories-en
  width 835px
  margin 85px auto 85px auto
  .products-category
    display inline-block
    text-align center
    margin-right 30px
    img
      margin-bottom 35px
    p
      display block
      color #0c6db8
      font-size 15px
      margin 0
      padding 10px 0
      border-bottom 1px solid transparent
    &.detergents
      img
        width 72px
        height 66px
    &.softeners
      img
        width 72px
        height 61px
    &.cleaners
      img
        width 72px
        height 60px
    &.green-tech
      img
        width 72px
        height 60px
    &.industrial
      img
        width 72px
        height 51px
  :last-child
    margin-right 0
.products-categories
  margin 85px auto 85px auto
  width 635px
  .products-category
    display inline-block
    text-align center
    margin-right 30px
    img
      margin-bottom 35px
    p
      display block
      color #0c6db8
      font-size 15px
      margin 0
      padding 10px 0
      border-bottom 1px solid transparent
    &.detergents
      img
        width 72px
        height 66px
    &.softeners
      img
        width 72px
        height 61px
    &.cleaners
      img
        width 72px
        height 60px
    &.green-tech
      img
        width 72px
        height 60px
    &.industrial
      img
        width 72px
        height 51px
  :last-child
    margin-right 0
.products-divider
  height 16px
  width 100%
  background #1f7db9
  margin-bottom 76px
.products-features
  .features-sections
    margin 0 auto
    width 792px
    margin-bottom 50px
    .features-section
      display inline-block
      padding 20px 62px
      background #8dc7df
      border-radius 4px
      margin-right 20px
      cursor pointer
      p
        color #fff
        font-size 23px
        margin 0
      &.our-brands
        padding 20px 50px
      &.active
        background #1f7db9
        cursor default
        &:hover
          background #1f7db9
      &:hover
        background #86bed6
    :last-child
      margin-right 0

.products-features-container
  width 704px
  margin 100px auto 150px auto

  .hidden
    display none

  .product-line
    margin-bottom 63px
    margin-top 50px
    .product-line-title
      color #0d74b9
      font-size 21px
      text-align center
      margin-bottom 60px
      h4
        margin 0
    .product-line-products
      display flex
      align-items center
      .carroussel-button
        border 0
        border-radius 50%
        width 27px
        height 27px
        cursor pointer
        &.prev-button
          background url('../img/icons/group-3-copy-4@3x.png')
          background-size cover
          margin-right 20px
        &.next-button
          background url('../img/icons/group-3-copy-2@3x.png')
          background-size cover
          margin-left 20px
      .product-line-carroussel
        display inline-block
        width 610px
        .product-line-product
          width 200px
          display inline-block
          .product-image-container
            width 200px
            height 200px
            display flex
            justify-content center
            align-items flex-end
            margin-bottom 17px
            &.easyiron-justone
              img
                height 100%
                width auto !important
            &.aroma-justone
              img
                height 100%
                width auto !important
            &.woodsandlaminate-justone
              img
                height 100%
                width auto !important
            &.dark-clothes-zaz
              img
                height 100%
                width auto !important
            &.detergent-liquid-zaz
              img
                height 100%
                width auto !important
            &.dishwasher-zaz
              img
                height 100%
                width auto !important
          .product-description
            text-align center
            color #585858
            font-size 13px
            padding-right 3px
            height 30px
  .product-line-divider
    height 1px
    margin 0 auto
    width 585px
    background #dedede

.product-line-divider
  height 1px
  background #dedede

.maquila
  .product-line-divider
    margin-top 138px
  .brands
    width 510px
    margin 75px auto
    display flex
    flex-wrap wrap
    align-items center
    justify-content center

    .brand
      display inline-block
      /*change margins when you add new brands*/
      &.walmart img
        margin-right 45px
        margin-bottom 45px
        width 152px
        height 38px
      &.costco img
        margin-right 45px
        margin-bottom 45px
        width 132px
        height 47px
      &.city img
        margin-right 0px
        margin-bottom 45px
        width 132px
        height 120px
      &.aml img
        margin-right 11px
        margin-bottom 45px
        width 132px
        height 76px
      &.lacomer img
        margin-right 45px
        margin-bottom 45px
        width 190px
      &.ley img
        margin-right 0px
        margin-bottom 45px
        width 132px
        height 77.5px
      &.soriana img
        margin-right 0
        margin-bottom 45px
        width 132px
        height 33.5px

.meet-us
  margin-top 70px
  
  img
    width 100%
    margin-bottom 50px

  .meet-us-title
    color #0d74b9
    font-size 21px
    text-align center
    margin-bottom 60px
    h4
      margin 0
      font-weight normal
      letter-spacing .9px
  .meet-us-button
    width 137px
    margin 40px auto
    button
      width 137px
      height 37px
      background #0d74b9
      border 0
      border-radius 4px
      font-size 10px
      color #fff
      letter-spacing 1px
      cursor pointer
      &:hover
        background #0965a3
.products-final-divider
  height 1px
  background #e0e0e0
  margin-bottom 31px

@media only screen and (max-width 414px)
  .slider-title
    img
      left 0 !important
    .slide-title
      left 30px !important
  .aguaviento-content.products
    width 300px
  .aguaviento-section-title.products
    img
      right 55px
  .products-divider-container
    width 260px
  .products-categories-en
    width 300px
    .products-category
      display block
      margin-bottom 60px
      margin-right 0
      img
        margin-bottom 20px
    .green-tech
      p
        width 130px
        margin 0 auto
  .products-categories
    width 300px
    .products-category
      display block
      margin-bottom 60px
      margin-right 0
      img
        margin-bottom 20px
    .green-tech
      p
        width 130px
        margin 0 auto
  .features-sections
    width 300px !important
    :last-child
      margin-bottom 0
  .features-section
    display block !important
    margin-right 0px !important
    text-align center
    margin-bottom 30px
  .products-features-container
    width 320px
    .our-brands
      .product-line
        .product-line-title
          width 320px
        .product-line-carroussel
          width 225px
          .product-line-product .product-image-container
            width 225px
      .product-line-divider
        width 225px
    .maquila
      .brands
        width 225px
        :last-child
          margin-bottom 0
        .brand
          margin-bottom 50px
          img
            margin 0
    .meet-us
      margin-top 200px
  .products-carroussel
    .slick-dots
      top 0
