{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Company
{% endblock %}

{% block content %}
<div class="aguaviento-container notice-privacy aguaviento-font-montserrat-medium">
  <p>
    <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, con domicilio ubicado en Carretera las Animas
    Coyotepec KM 3.5 sin número, Colonia Barrio la Era, Teoloyucan, Estado de México,
    Código Postal 54770, mismo que señala para todos los efectos legales que se
    desprendan del presente <b><i>aviso de privacidad</i></b>, derivado de la información
    proporcionada a través de los formularios para la obtención de sus datos personales,
    mismos que son propiedad de <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, dando estricto
    cumplimiento a lo establecido por la Ley Federal de Protección de Datos Personales
    en Posesión de los Particulares (en lo sucesivo la ley) y su Reglamento se suscribe el
    presente:
  </p>
  <center>
    <h3><b><i>Aviso de privacidad</i></b></h3>
  </center>
  <p>
    Este Aviso de Privacidad regula la forma, términos y condiciones conforme a los
    cuales <b><i>GRUPO AGUAVIENTO, S.A DE C.V.</i></b>, incluyendo a sus empresas filiales,
    relacionadas y/o subsidiarias, están facultadas y autorizadas por el “Titular” para
    obtener, tratar y transferir los datos personales (en lo sucesivo los “Datos”) del
    “Titular”.
  </p>
  <p>
    Sitios de terceros, el sitio web de <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, puede incluir
    enlaces a sitios web de terceros, si obtiene acceso a dichos enlaces, abandonará el
    sitio web de <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, por lo que esta última no asume
    ninguna responsabilidad en relación con esos sitios web de terceros.
  </p>
  <p>
    El “Titular” en este acto manifiesta bajo protesta de decir verdad que:
    En caso de que este <b><i>aviso de privacidad</i></b>, esté disponible a través de una página
    electrónica (sitio web, página de internet, red social o similar) o algún otro dispositivo
    electrónico, al hacer “clic” en “aceptar” o de cualquier otra forma seguir navegando en
    el sitio, o bien al proporcionar sus “Datos” a través de este, constituye una
    manifestación de su consentimiento para que <b><i>GRUPO AGUAVIENTO,S.A. DE C.V.</i></b>,
    realice el tratamiento de sus “Datos”, de conformidad con el presente <b><i>aviso de
    privacidad</i></b>.
  </p>
  <p>
    Que toda la información que proporciona el “Titular” a <b><i>GRUPO AGUAVIENTO, S.A. DE
    C.V.</i></b>, es veraz y completa por lo que responderá en todo momento por los “Datos”
    proporcionados.
  </p>
  <center>
    <h3><b><i>Datos personales sometidos a tratamiento</i></b></h3>
  </center>
  <p>
    Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus
    datos personales de distintas formas: cuando usted nos los proporciona directamente
    ingresando a nuestro sitio de Internet www.aguaviento.com y www.limpius.com,
    facebook de Grupo Aguaviento, y cuando obtenemos su información a través de otras
    fuentes que están permitidas por la ley.
  </p>
  <p>
    Los datos personales los recabamos de forma directa cuando el “Titular” nos los
    proporciona de manera libre y voluntaria por diversos medios con la finalidad de que
    <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, conozca sus productos o servicios, participando en
    promociones, ofertas o cuando contrata con nosotros algún tipo de servicio, cuando se
    da algún tipo de relación contractual y/o comercial.
  </p>
  <p>
    Así mismo, le informamos que para cumplir con las finalidades descritas en este <b><i>aviso de
    privacidad</i></b> se podrán tratar los siguientes datos personales:
  </p>
  <h4><b><i>Datos personales de identificación y contacto:</i></b></h4>
  <ol type="a">
    <li>Nombre, nacionalidad, sexo, fecha de nacimiento, dirección y ocupación.</li>
    <li>Denominación, razón social y nombre comercial.</li>
    <li>Clave Única de Registro de Población, Registro Federal de Contribuyentes,
    Número de Registro Patronal y Número de seguridad social.</li>
    <li>Su correo electrónico, página web e ID de Facebook y Twitter.</li>
    <li>Número telefónico móvil y/o fijo (casa y/o oficina).</li>
    <li>Comprobantes oficiales que acrediten su grado de estudios como relación de
    calificaciones, certificados, títulos y cédulas profesionales.</li>
    <li>Comprobantes oficiales que acrediten su identidad y la información que usted
    declara, así como su CREDENCIAL DE ELECTOR, PASAPORTE, CEDULA
    PROFESIONAL, LICENCIA DE CONDUCIR.</li>
    <li>Currículo.</li>
  </ol>
  <h4><b><i>Datos personales sensibles:</i></b></h4>
  <ol type="a">
    <li>Tipo de sangre.</li>
    <li>Enfermedades o padecimientos.</li>
    <li>Afiliación sindical.</li>
    <li>Examen médico.</li>
  </ol>
  <h4><b><i>Información patrimonial:</i></b></h4>
  <ol type="a">
    <li>Datos financieros del “Titular”, como son: número de tarjeta de crédito, tarjeta de
    débito, institución financiera, fecha de expiración, código de seguridad y
    dirección de correspondencia de la (s) misma(s), números de cuenta(s)
    bancaria(s), clave (s) interbancaria (s) y en su caso créditos.</li>
  </ol>
  <h4><b><i>En caso de tratarse de persona moral:</i></b></h4>
  <ol type="a">
    <li>Comprobantes oficiales que acrediten su identidad como Escritura Constitutiva,
    modificaciones a la misma, poderes otorgados, número de registro patronal,
    constancia de identificación fiscal y Registro Federal de Contribuyentes.</li>
  </ol>
  <p>
    <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, recaba y usa sus datos personales para el
    cumplimiento de las siguientes finalidades primarias y necesarias:
  </p>
  <ol type="a">
    <li>Confirmar su identidad.</li>
    <li>Garantizar la seguridad y certeza jurídica de los actos que se celebren con
    nosotros como es la prestación de servicios y/o compraventa de nuestros
    productos entre otros.</li>
    <li>Cumplir con los requerimientos legales que le son aplicables.</li>
    <li>Verificar la información que nos proporcione.</li>
    <li>Hacer de su conocimiento nuestras promociones y ofertas respecto a los servicios
    y productos que le brindamos.</li>
    <li>Elaboración de su expediente laboral.</li>
    <li>La creación de un perfil de empleado para la administración de su estancia laboral
    en <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b></li>
    <li>La administración del acceso físico a las instalaciones de <b><i>GRUPO AGUAVIENTO,
    S.A. DE C.V.</i></b></li>
    <li>La administración de los servicios de nómina.</li>
    <li>Brindarle capacitaciones.</li>
    <li>La administración de herramientas de desempeño y desarrollo personal y
    profesional.</li>
    <li>El cumplimiento de las disposiciones del contrato de trabajo que usted suscriba
    con <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, y todas aquellas que apliquen según la
    Ley Federal del Trabajo y otras que correspondan;</li>
    <li>Dar referencias laborales de usted conforme lo permitan las leyes aplicables;</li>
    <li>Ayudar con la gestión de las prestaciones sindicales de los trabajadores;</li>
    <li>Verificar periódicamente que cuente con el estado de salud necesario para
    realizar sus actividades laborales;</li>
    <li>Para la gestión de cajas de ahorro y fondos de ahorro;</li>
    <li>En resumen, para realizar todas las actividades necesarias para la administración
    y gestión de su puesto de trabajo y demás prestaciones laborales.</li>
  </ol>
  <h4>Finalidades secundarias</h4>
  <p>
    GRUPO AGUAVIENTO, S.A. DE C.V., tratará sus datos personales necesarios para
    finalidades secundarias relacionadas con la mejora y fomento del mejor entorno y clima
    laboral (como difusión de felicitaciones y demás celebraciones y días especiales).
    También, su imagen personal (ya sea foto, video, etc.) podrá ser utilizada en la
    elaboración de material informativo y promocional.
  </p>
  <h4>¿Con quién compartimos su información y para qué fines?</h4>
  <p>
    Sus datos personales sólo son tratados por el personal adscrito a <b><i>GRUPO AGUAVIENTO,
    S.A. DE C.V.</i></b>, a efecto de elaborar los instrumentos legales privados para garantizar la
    prestación de servicios, la compraventa de productos y la relación comercial en otros que
    se deriven de la actividad comercial de <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, por lo cual,
    sus datos personales no se transfieren a ningún tercero ajeno a ella.
  </p>
  <p>
    Usted puede limitar el uso y divulgación de su información personal a través de los
    siguientes medios que hemos instrumentado:
  </p>
  <ol type="a">
    <li>Presentando su solicitud personalmente en nuestro domicilio, dirigida a la persona
    encargada del manejo de los datos personales.</li>
    <li>Enviando correo electrónico a la siguiente dirección electrónica:
    datospersonales@aguaviento.com</li>
    <li>Llamando gratuitamente al número telefónico:01 800 8411 805</li>
  </ol>
  <h4>Derechos ARCO y/o revocación del consentimiento</h4>
  <p>
    Usted o su representante legal podrá ejercer cualquiera de los derechos de acceso,
    rectificación, cancelación u oposición (en lo sucesivo “derechos Arco”), así como revocar
    su consentimiento para el tratamiento de sus datos personales enviando un correo
    electrónico al responsable del manejo de datos personales de <b><i>Grupo Aguaviento, S.A. DE
    C.V.</i></b>, a la dirección electrónica <b><i>datospersonales@aguaviento.com</i></b>, en este sentido, puede
    informarse sobre los procedimientos, requisitos y plazos para el ejercicio de sus Derechos
    ARCO y/o revocación del consentimiento en nuestra página de internet
    <b><i>www.aguaviento.com</i></b>
  </p>
  <p>
    <b><i>GRUPO AGUAVIENTO, S.A. DE C.V.</i></b>, le aconseja que actualice sus datos personales cada
    vez que estos sufran alguna actualización, ya que esto nos permitirá brindarle un mejor
    servicio.
  </p>
  <h4>Cambios al Aviso de Privacidad</h4>
  <p>
    <b><i>GRUPO AGUAVIENTO, S.A DE C.V.</i></b> le notificará de cualquier cambio a su aviso de
    privacidad a través de nuestra página de internet www.aguaviento.com
  </p>
  <p>
    Nos reservamos el derecho de efectuar en cualquier momento modificaciones o
    actualizaciones al presente aviso de privacidad, para la atención de novedades
    legislativas o jurisprudencias, políticas internas, nuevos requerimientos para otorgar la
    prestación de nuestros servicios, así como, para darle a conocer información relacionada
    con el mismo.
  </p>
  <span>Estas modificaciones estarán disponibles al público a través de los siguientes medios:</span>
  <ol type="a">
    <li>Anuncio visible en nuestro domicilio;</li>
    <li>En nuestra página de internet.</li>
    <li>O se las haremos llegar al último correo electrónico que nos haya
    proporcionado.</li>
  </ol>
  <p>
    Si usted tiene alguna duda sobre el presente aviso de privacidad, puede dirigirla a la
    dirección electrónica: datospersonales@aguaviento.com en atención al encargado del
    tratamiento de datos personales: Roberto Méndez Hernández o al teléfono 01 800 8411
    805.
  </p>
  <p>
    Así mismo, ponemos a su entera disposición copias del presente aviso de privacidad en
    nuestro domicilio.
  </p>
  <span>Actualizaciones del aviso de privacidad<br>Última revisión: enero 2018.</span>
</div>
{% endblock %}
