{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Company
{% endblock %}

{% block content %}
  <div class="aguaviento-container">
    <div class="aguaviento-content company">
      <div class="aguaviento-section-title company">
        <img src="img/icons/group-11@3x.png" alt="">
        <h2 class="title aguaviento-font-montserrat-regular">Grupo Aguaviento</h2>
      </div>
      <div class="company-divider-container">
        <div class="section-divider"></div>
      </div>
      <div class="company-description aguaviento-font-montserrat-extralight">
        <p>
          We have 50 years of experience, working to solve the necessities of millions of american homes.
        </p>
      </div>
      <div class="company-features">
        <div class="company-feature vision">
          <div class="company-feature-image">
            <img src="img/icons/vision@3x.png" alt="Vision">
          </div>
          <div class="company-feature-title aguaviento-font-montserrat-extralight">
            <a data-remodal-target="vision"><button>VISION</button></a>
          </div>
        </div>
        <div class="company-feature mission">
          <div class="company-feature-image ">
            <img src="img/icons/iconooos-15@3x.png" alt="Mission">
          </div>
          <div class="company-feature-title aguaviento-font-montserrat-extralight">
            <a data-remodal-target="mission"><button>MISSION</button></a>
          </div>
        </div>
        <div class="company-feature quality-politics">
          <div class="company-feature-image">
            <img src="img/icons/iconooos-13@3x.png" alt="Quality-Policy">
          </div>
          <div class="company-feature-title aguaviento-font-montserrat-extralight">
            <a data-remodal-target="quality-politics"><button>QUALITY POLICY</button></a>
          </div>
        </div>
        <div class="company-feature company-video">
          <div class="company-feature-image">
            <img src="img/icons/iconooos-14@3x.png" alt="video-company">
          </div>
          <div class="company-feature-title aguaviento-font-montserrat-extralight">
            <a data-remodal-target="company-video" onClick="runVideo()"><button>COMPANY VIDEO</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="company-cover"></div>
    <div class="company-certification">
      <div class="iso-description">
        <div class="description">
          <div class="description-title">
            <h3 class="aguaviento-font-montserrat-regular">Certification in process <span>ISO 9001</span></h3>
          </div>
          <div class="description-divider"></div>
          <div class="description-content aguaviento-font-montserrat-extralight">
          </div>
        </div>
      </div>
      <div class="iso-image">
        <div class="image-container">
          <img src="img/icons/iso-9001@3x.png" alt="ISO 9001">
        </div>
      </div>
    </div>
  </div>
  <div class="remodal" data-remodal-id="vision">
    <div class="aguaviento-modal">
      <button data-remodal-action="close" class="modal-close"></button>
      <div class="modal-title aguaviento-font-montserrat-regular">
        <h3>Vision</h3>
      </div>
      <div class="modal-divider"></div>
      <div class="modal-content aguaviento-font-montserrat-extralight vision">
        <p>
          To be the leading company in developing and manufacturing high performance cleaning products, that satisfy the needs of our customers, contributing to facilitate the home and organization hygiene of the American continent.
        </p>
      </div>
    </div>
</div>
<div class="remodal" data-remodal-id="mission">
    <div class="aguaviento-modal">
      <button data-remodal-action="close" class="modal-close"></button>
      <div class="modal-title aguaviento-font-montserrat-regular">
        <h3>Mission</h3>
      </div>
      <div class="modal-divider"></div>
      <div class="modal-content aguaviento-font-montserrat-extralight">
        <p>
          We are a team of professionals with the experience focus to the service of our customers, we want to be recognized as the company with the greatest cost-benefit.
        </p>
        <p>
          Without challenges fear, we strive to create the best cleaning products on the market, in a responsible, controlled and environmentally friendly way.
        </p>
      </div>
    </div>
</div>
<div class="remodal" data-remodal-id="quality-politics">
    <div class="aguaviento-modal">
      <button data-remodal-action="close" class="modal-close"></button>
      <div class="modal-title aguaviento-font-montserrat-regular">
        <h3>Quality Policy</h3>
      </div>
      <div class="modal-divider"></div>
      <div class="modal-content aguaviento-font-montserrat-extralight">
        <p>
          Grupo Aguaviento manufactures cleaning products that satisfy  the expectations of our customers and it is committed to compliance with laws and regulations that apply to us, always seeking continuous improvement, protection of the environment and development of our staff
        </p>
      </div>
    </div>
</div>
<div class="remodal video" data-remodal-id="company-video">
    <div class="aguaviento-modal video">
    <button id="video-close-button" data-remodal-action="close" class="modal-close video" onClick="stopVideo()"></button>
      <iframe width="700" height="394" src="https://www.youtube.com/embed/leNgeNgo2yA?controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
