{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Innovación
{% endblock %}

{% block content %}
  <div class="innovation-parallax-container"></div>
  <div class="innovation-container">
    <div class="innovation-content">
      <div class="aguaviento-section-title innovation">
        <img src="img/icons/group-11@3x.png" alt="">
        <h2 class="title aguaviento-font-montserrat-regular">Innovation and Sustainability</h2>
      </div>
      <div class="section-divider"></div>
      <div class="innovation-content-info">
        <div class="info aguaviento-font-montserrat-light">
          <p>
            We create a bio- ecological products line backed by institutions of wide recognition.
          </p>
          <p>
            Our concern to keep the nature balance, makes possible as a sustainable measure the use of rainwater, this help us creating the best cleaning products on the market in a responsible, controlled and environmentally friendly way.
          </p>
        </div>
        <div class="innovation-content-image">
          <img src="img/icons/iconos-11@3x.png" alt="blue-leaf">
        </div>
      </div>
    </div>
    <img class="oval" src="img/icons/oval-3-copy@3x.png" alt="">
  </div>
{% endblock %}
