{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Innovación
{% endblock %}

{% block content %}
  <div class="innovation-parallax-container"></div>
  <div class="innovation-container">
    <div class="innovation-content">
      <div class="aguaviento-section-title">
        <img src="img/icons/group-11@3x.png" alt="">
        <h2 class="title aguaviento-font-montserrat-regular">Innovación y sustentabilidad</h2>
      </div>
      <div class="section-divider"></div>
      <div class="innovation-content-info">
        <div class="info aguaviento-font-montserrat-light">
          <p>
            Creamos una línea ecológica con productos biodegradables avalados por instituciones de amplio reconocimiento.
          </p>
          <p>
            Nuestra preocupación de mantenernos en equilibrio con la naturaleza, hace posible la utilización de  agua pluvial como medida sustentable, creando así los mejores productos de limpieza del mercado en forma responsable, controlada y amigable con el medio ambiente.
          </p>       
        </div>
        <div class="innovation-content-image">
          <img src="img/icons/iconos-11@3x.png" alt="blue-leaf">
        </div>
      </div>
    </div>
    <img class="oval" src="img/icons/oval-3-copy@3x.png" alt="">
  </div>
{% endblock %}