{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Innovación
{% endblock %}

{% block content %}
  <div class="innovation-parallax-container"></div>
{% endblock %}