{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Instalaciones
{% endblock %}

{% block content %}
  <div class="aguaviento-container">
    <div class="aguaviento-slider plant-carroussel">
      <div class="plant-slide-1">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-2">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-3">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-4">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-5">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-6">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
      <div class="plant-slide-7">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
        </div>
      </div>
    </div>
    <div class="aguaviento-content plant">
      <div class="aguaviento-section-title plant">
        <img src="img/icons/group-11@3x.png" alt="">
        <h2 class="title aguaviento-font-montserrat-regular">Instalations</h2>
      </div>
    </div>
  </div>
{% endblock %}
