{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
  Instalaciones
{% endblock %}

{% block content %}
  <div class="aguaviento-container">
    <div class="aguaviento-content plant">
      <div class="aguaviento-section-title plant">
        <img src="img/icons/group-11@3x.png" alt="">
        <h2 class="title aguaviento-font-montserrat-regular">Instalaciones</h2>
      </div>
    </div>
    <div class="aguaviento-slider plant-carroussel">
      <div class="plant-slide-one">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
          <h3 class="slide-title aguaviento-font-montserrat-extralight">Almacén</h3>
        </div>
      </div>
      <div class="plant-slide-two">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
          <h3 class="slide-title aguaviento-font-montserrat-extralight">Almacén 2</h3>
        </div>
      </div>
      <div class="plant-slide-three">
        <div class="slider-title">
          <img src="img/slider-title.png" alt="slider-title-background">
          <h3 class="slide-title aguaviento-font-montserrat-extralight">Almacén 3</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}