<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:height" content="1326">
    <meta property="og:image:width" content="884">
    <meta property="og:title" content="Grupo Aguaviento">
    <meta property="og:description" content="Tenemos siempre en la mira al usuario de nuestros productos. Conocemos sus expectativas y hacemos lo necesario para ofrecer el producto que requiere. A trav&eacute;s de sus ojos, vemos un mundo m&aacute;s limpio, un mejor mundo.">
    <meta property="og:url" content="http://aguaviento.com/">
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel='stylesheet' href='https://cdn.rawgit.com/jonsuh/hamburgers/e8cd462c/dist/hamburgers.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body id="body">
    <div id="page" class="remodal-bg">
      {% if section === "company-en" or section === "contact-en" or section === "index-en" or section === "innovation-en" or section === "plant-en" or section === "products-en"  or section === "notice-privacy"%}
        {% include 'partials/navbar-en.njk' %}
      {% else %}
        {% include 'partials/navbar.njk' %}
      {% endif %}

      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section === "company-en" or section === "contact-en" or section === "index-en" or section === "innovation-en" or section === "plant-en" or section === "products-en"  or section === "notice-privacy"%}
        {% include 'partials/footer-en.njk' %}
      {% else %}
        {% include 'partials/footer.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkrZ61d_-cyJHEuzhSjLaSKgF_l7CnRy4"></script>

    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      $(".products-slider").slick({
        infinite: true,
        nextArrow: '<img class="product-next cursor-pointer" src="./img/icons/group-3-copy-2@3x.png"></img>',
        prevArrow: '<img class="product-prev cursor-pointer" src="./img/icons/group-3-copy-4@3x.png"></img>',
        centerPadding: '0px',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
      $('.fade').slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 5000,
        nextArrow: '<img class="header-next cursor-pointer" src="./img/icons/group-3-copy-2@3x.png"></img>',
        prevArrow: '<img class="header-prev cursor-pointer" src="./img/icons/group-3-copy-4@3x.png"></img>',
        slidesToShow: 1,
        slidesToScroll: 1
      });
    </script>
    {% if section == 'products' or section == 'plant'%}
      <script src="js/slick.js"></script>
    {% endif %}
    {% endblock %}
  </body>
</html>
