<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel='stylesheet' href='https://cdn.rawgit.com/jonsuh/hamburgers/e8cd462c/dist/hamburgers.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.css">
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body id="body">
    <div id="page" class="remodal-bg">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
      $(".products-slider").slick({
        infinite: true,
        nextArrow: '<img class="product-next cursor-pointer" src="./img/icons/group-3-copy-2@3x.png"></img>',
        prevArrow: '<img class="product-prev cursor-pointer" src="./img/icons/group-3-copy-4@3x.png"></img>',
        centerPadding: '0px',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
                      {
                        breakpoint: 800,
                        settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                        }
                      },
                      {
                        breakpoint: 767,
                        settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                        }
                      }
                    ]
      });
      $('.fade').slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 6000,
        nextArrow: '<img class="header-next cursor-pointer" src="./img/icons/group-3-copy-2@3x.png"></img>',
        prevArrow: '<img class="header-prev cursor-pointer" src="./img/icons/group-3-copy-4@3x.png"></img>',
      });
    </script>
    {% endblock %}
  </body>
</html>
