<footer class="site-footer aguaviento-flex-column">
  <img src="./img/logo-aguaviento-blanco-y-azul@3x.png" class="footer-logo">
  <div class="footer-links-container aguaviento-flex-row">
    <a href="plant.html" class="footer-link">
      <div class="footer-link-box">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Servicios</p>
      </div>
    </a>
    <a href="company.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Compañía</p>
      </div>
    </a>
    <a href="products.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Productos</p>
      </div>
    </a>
    <a href="innovation.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Innovación</p>
      </div>
    </a>
    <a href="contact.html" class="footer-link">
      <div class="footer-link-box last mobile aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Contacto</p>
      </div>
    </a>
  </div>
  <div class="footer-links-container aguaviento-flex-row">
    <a href="mailto:ventas@aguaviento.com" class="footer-link">
      <div class="footer-link-box mobile">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">ventas@aguaviento.com</p>
      </div>
    </a>
    <a href="" class="footer-link">
      <div class="footer-link-box last aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Tel:  52  (593) 914 4901</p>
      </div>
    </a>
  </div>
  <div class="footer-social-box aguaviento-flex-row">
    <img src="./img/icons/shape@3x.png" class="footer-social-icon">
    <img src="./img/icons/twitter-logo-button@3x.png" class="footer-social-icon">
  </div>
</footer>
