<footer class="site-footer aguaviento-flex-column">
  <img src="./img/logo-aguaviento-blanco-y-azul@3x.png" class="footer-logo">
  <div class="footer-links-container aguaviento-flex-row">
    <a href="company-en.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Company</p>
      </div>
    </a>
    <a href="products-en.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Products</p>
      </div>
    </a>
    <a href="innovation-en.html" class="footer-link">
      <div class="footer-link-box aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Innovation</p>
      </div>
    </a>
    <a href="plant-en.html" class="footer-link">
      <div class="footer-link-box">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Instalations</p>
      </div>
    </a>
    <a href="contact-en.html" class="footer-link">
      <div class="footer-link-box last mobile aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Contact</p>
      </div>
    </a>
  </div>
  <div class="footer-links-container aguaviento-flex-row">
    <a href="mailto:ventas@aguaviento.com" class="footer-link">
      <div class="footer-link-box mobile">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">ventas@aguaviento.com</p>
      </div>
    </a>
    <a href="tel:+525939144901" class="footer-link">
      <div class="footer-link-box last aguaviento-flex-column">
        <p class="white-text footer-link-text aguaviento-font-montserrat-light letter-spacing-dot-one no-margin-text">Tel: +52 01 558 647 4700</p>
      </div>
    </a>
  </div>
  <div class="footer-social-box aguaviento-flex-row">
    <a href="https://www.facebook.com/GrupoAguaviento" target="_blank">
      <img src="./img/icons/shape@3x.png" class="footer-social-icon">
    </a>
  </div>
</footer>
