<nav class="{% if section == 'innovation' %} aguaviento-navbar-innovation neopraxis-navbar{% else %} neopraxis-navbar {% endif %}" id="neopraxisNavbarSite">
  <button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <a class="navbar-brand" href="./">
    <img src="./img/logo-aguaviento@3x.png" class="fitLogo" id="fit-logo">
  </a>
  <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">
      {% if section == 'index-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif%}
        <a href="./index-en.html" class="">Home</a>
      </li>
      {% if section == 'company-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./company-en.html" class="">Company</a>
      </li>
      {% if section == 'products-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./products-en.html" class="">Products</a>
      </li>
      {% if section == 'innovation-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
          <a href="./innovation-en.html" class="">Innovation</a>
        </li>
      {% if section == 'plant-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./plant-en.html" class="">Instalations</a>
      </li>
      {% if section == 'contact-en' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./contact-en.html" class="">Contact</a>
      </li>
  </ul>
    <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar-right">
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        {% if section == 'index-en' %}
        <a href="./index.html" class="language-link">ES</a>
        {% elif section == 'company-en' %}
        <a href="./company.html" class="language-link">ES</a>
        {% elif section == 'products-en' %}
        <a href="./products.html" class="language-link">ES</a>
        {% elif section == 'innovation-en' %}
        <a href="./innovation.html" class="language-link">ES</a>
        {% elif section == 'plant-en' %}
        <a href="./plant.html" class="language-link">ES</a>
        {% elif section == 'contact-en' %}
        <a href="./contact.html" class="language-link">ES</a>
        {% elif section == 'notice-privacy' %}
        <a href="./aviso-privacidad.html" class="language-link">ES</a>
        {% endif %}
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        <a href="#" class="language-link">/</a>
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        {% if section == 'index-en' %}
        <a href="./index-en.html" class="language-link active">EN</a>
        {% elif section == 'company-en' %}
        <a href="./company-en.html" class="language-link active">EN</a>
        {% elif section == 'products-en' %}
        <a href="./products-en.html" class="language-link active">EN</a>
        {% elif section == 'innovation-en' %}
        <a href="./innovation-en.html" class="language-link active">EN</a>
        {% elif section == 'plant-en' %}
        <a href="./plant-en.html" class="language-link active">EN</a>
        {% elif section == 'contact-en' %}
        <a href="./contact-en.html" class="language-link active">EN</a>
        {% elif section == 'notice-privacy' %}
        <a href="./notice-privacy.html" class="language-link active">EN</a>
        {% endif %}
      </li>
    </ul>
    <div hidden="" class="neopraxis-show-in-movil">
      <a class="neopraxis-center-flex" href="./">
        <img src="./img/logo-aguaviento@3x.png" class="neopraxis-logo-comparative">
      </a>
    </div>
</nav>
