<nav class="{% if section == 'innovation' %} aguaviento-navbar-innovation neopraxis-navbar{% else %} neopraxis-navbar {% endif %}" id="neopraxisNavbarSite">
  <button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <a class="navbar-brand" href="./">
    <img src="./img/logo-aguaviento@3x.png" class="fitLogo" id="fit-logo">
  </a>
  <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">
      {% if section == 'index' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif%}
        <a href="./" class="">Inicio</a>
      </li>
      {% if section == 'company' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./company.html" class="">Compañía</a>
      </li>
      {% if section == 'products' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./products.html" class="">Productos</a>
      </li>
      {% if section == 'innovation' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
          <a href="./innovation.html" class="">Innovación</a>
        </li>
      {% if section == 'plant' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./plant.html" class="">Instalaciones</a>
      </li>
      {% if section == 'contact' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./contact.html" class="">Contacto</a>
      </li>
  </ul>
    <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar-right">
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        {% if section == 'index' %}
        <a href="./index.html" class="language-link active">ES</a>
        {% elif section == 'company' %}
        <a href="./company.html" class="language-link active">ES</a>
        {% elif section == 'products' %}
        <a href="./products.html" class="language-link active">ES</a>
        {% elif section == 'innovation' %}
        <a href="./innovation.html" class="language-link active">ES</a>
        {% elif section == 'plant' %}
        <a href="./plant.html" class="language-link active">ES</a>
        {% elif section == 'contact' %}
        <a href="./contact.html" class="language-link active">ES</a>
        {% elif section == 'aviso-privacidad' %}
        <a href="./aviso-privacidad.html" class="language-link active">ES</a>
        {% endif %}
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        <a href="#" class="language-link">/</a>
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        {% if section == 'index' %}
        <a href="./index-en.html" class="language-link">EN</a>
        {% elif section == 'company' %}
        <a href="./company-en.html" class="language-link">EN</a>
        {% elif section == 'products' %}
        <a href="./products-en.html" class="language-link">EN</a>
        {% elif section == 'innovation' %}
        <a href="./innovation-en.html" class="language-link">EN</a>
        {% elif section == 'plant' %}
        <a href="./plant-en.html" class="language-link">EN</a>
        {% elif section == 'contact' %}
        <a href="./contact-en.html" class="language-link">EN</a>
        {% elif section == 'aviso-privacidad' %}
        <a href="./notice-privacy.html" class="language-link">EN</a>
        {% endif %}
      </li>
    </ul>
    <div hidden="" class="neopraxis-show-in-movil">
      <a class="neopraxis-center-flex" href="./">
        <img src="./img/logo-aguaviento@3x.png" class="neopraxis-logo-comparative">
      </a>
    </div>
</nav>
