<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html"><img src="#" alt="Logo"></a> {# Change #}
  </div>
  <div class="site-navbar__menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__mobile-logo-container">
      <a href="index.html"><img src="#" alt="Logo"></a> {# Change #}
    </div>
    <div class="site-navbar__menu">
      <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %}active{% endif %}">Home</a>
    </div>
  </div>
</nav>