<nav class="{% if section == 'innovation' %} aguaviento-navbar-innovation {% elif section == 'plant' %} aguaviento-navbar-plant {% else %} neopraxis-navbar {% endif %}" id="neopraxisNavbarSite">
  <button class="hamburger hamburger--collapse" type="button" id="neopraxis-hamburger-menu">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <a class="navbar-brand" href="./">
    <img src="./img/logo-aguaviento@3x.png" class="fitLogo" id="fit-logo">
  </a>
  <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar">
      {% if section == 'index' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif%}
        <a href="./" class="">Inicio</a>
      </li>
      {% if section == 'services' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./services.html" class="">Compañía</a>
      </li>
      {% if section == 'memberships' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./products.html" class="">Productos</a>
      </li>
      {% if section == 'innovation' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
          <a href="./innovation.html" class="">Innovación</a>
        </li>
      {% if section == 'tools' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./plant.html" class="">Instalaciones</a>
      </li>
      {% if section == 'blog' %}
        <li class="aguaviento-font-montserrat-light active">
      {% else %}
        <li class="aguaviento-font-montserrat-light">
      {% endif %}
        <a href="./contact.html" class="">Contacto</a>
      </li>
  </ul>
    <ul class="nav navbar-nav navbar-right" id="neopraxis-main-navbar-right">
      {% if section == 'login' %}
        <li class="navbar-padding aguaviento-font-montserrat-light active right-item-nav">
      {% else %}
        <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
      {% endif %}
        <a href="./login.html" class="language-link active">ES</a>
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        <a href="./login.html" class="language-link">/</a>
      </li>
      <li class="navbar-padding aguaviento-font-montserrat-light right-item-nav">
        <a href="./login.html" class="language-link">EN</a>
      </li>
    </ul>
    <div hidden="" class="neopraxis-show-in-movil">
      <a class="neopraxis-center-flex" href="./">
        <img src="./img/logo-aguaviento@3x.png" class="neopraxis-logo-comparative">
      </a>
    </div>
</nav>
