.site-footer
  width 100%
  height 288px
  background url("../img/group-25@3x.png")
  background-attachment scroll
  background-repeat no-repeat
  background-size cover
  background-position center center
  box-sizing border-box
  padding-top 65px
  justify-content flex-start !important
.footer-logo
  width 142px
  height auto
  margin-bottom 11px
.footer-link-text
  padding-left 12px
  padding-right 12px
  font-size 13px
.footer-link-box
  border-right solid 1px #ffffff
  height 13px
  margin-top 10px
.footer-link-box.last
  border-right none
.footer-social-icon
  width 18px
  height 18px
  margin-left 5px
  margin-right 5px
.footer-social-box
  margin-top 24px
  