.site-navbar
background white
display flex
align-items center
height 78px // Change
left 0
position fixed
top 0
width 100%
z-index 12
display none

& + main
padding-top 0px // Change

.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container
display none

.site-navbar__menu-trigger
color white // Change

.site-navbar__desktop-logo-container
img
width remify(150) // Change

.site-navbar__menu-container
flex-grow 1
text-align right
height 100%

.site-navbar__menu
height 100%
display flex
align-items center
justify-content flex-end

.site-navbar__menu-link
color black // Change
font-size remify(19) // Change

&:hover, &.active
  color white // Change

@media (max-width: 876px)
  .site-navbar
    justify-content space-between
    height 56px // Change
    padding 0 18px // Change

  .site-navbar__desktop-logo-container
    img
    height remify(20) // Change
    width auto

  .site-navbar__mobile-logo-container
    display block
    center-block()
    width 70% // Change

  img
    width 100%

  .site-navbar__menu-trigger
    display block
    float right
    font-size 18px // Change

  .site-navbar__menu-container
    background white // Change
    height 100vh
    margin-right 0
    overflow-y auto
    position fixed
    right -280px
    top 0
    transition right 0.2s
    width 280px
    padding-top 25px // Change

  .site-navbar__menu-container--show-menu
    right 0

  .site-navbar__menu
    margin-bottom 30px // Change
    margin-top 0px // Change
    text-align left
    height auto
    flex-wrap wrap

  .site-navbar__menu-link
    display block
    height auto
    display block
    text-align left
    flex-basis 100%
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require fonts
*= require footer
*= require header
*= require grails
*= require main
*= require mobile
*= require_self
*/
.hamburger {
  padding: 0px;
  display: none;
}
.hamburger:active {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger-box {
  width: 30px;
}
.hamburger-inner {
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.hamburger-inner::after {
  top: -14px !important;
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.hamburger-inner::before {
  top: -7px;
  width: 30px;
  height: 3px;
  background-color: #ff9a00;
}
.add-background {
  background: url(background/cierralo-n-e-wfinal-01.png);
  background-size: 100%;
}
.add-background-white {
  background: white;
}
.right-item-nav{
  float: right !important;
  color: #ffffff;
  border-top: solid 4px transparent !important;
  margin-right: 5px !important;
}
.right-item-nav.active{
  color: #b2e1f7 !important;
}
.no-padding-nav{
  padding-top: 0px !important;
}
.neopraxis-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width:100%;
  top:0;
  background: #ffffff;
  z-index: 9999;
  border-bottom: solid 5px #63d5d0;
}
.aguaviento-navbar-plant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width:100%;
  top:0;
  background: #ffffff;
  z-index: 9999;
  border-bottom: solid 5px #8dc7df;
}
.aguaviento-navbar-innovation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width:100%;
  top:0;
  background: #ffffff;
  z-index: 9999;
  border-bottom: solid 5px #bcdd46;
}
.navbar-right{
  padding-left: 0px;
}
#neopraxis-main-navbar{
  padding-left 0px;
  margin: auto;
  margin-top 0px;
}
#neopraxis-main-navbar-right{
  height: 82px;
  box-sizing: border-box;
  background-color #0d74b9;
  padding-left: 31px;
  padding-right: 31px;
}
section {
  width:100%;
}
.mainLogo {
  width: 83px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.neopraxis-aling-end {
  align-items: flex-end;
}
.neopraxis-strong-font {
  font-family: 'HelveticaNeue-bold';
}
.neopraxis-primary-color {
  color: #e66700;
}
.neopraxis-broken-color {
  color: #AAAAAA;
}
.neopraxis-button-header > a:hover {
  color: #ffffff;
  font-family: 'HelveticaNeue-Medium';
}
.neopraxis-default-btn {
  width: 128px;
  height: 39px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  color: white;
  margin:0 10px;
  padding: 11px 23px;
}
.neopraxis-default-btn:focus {
  outline:none;
}
.neopraxis-buttons-container {
  margin-top: 26px;
}
.neopraxis-btn-secondary {
  background-color: #e66700;
  color: white;
  font-size:14px;
}

.neopraxis-btn-primary {
  background-color: #f7971c;
}
.neopraxis-button-header > a {
  color: #ffffff;
}
.neopraxis-button-header {
  background: #e66700;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  padding: 5px 19px !important;
}
.neopraxis-text-center {
  text-align: center;
}

.stronger {
  font-weight: bold;
}
.navbar {
  min-height: 76px !important;
}
.brand {
  font-family: 'PT Sans', sans-serif;
}
span.mainLogo {
  font-size: 25pt;
  font-weight: bold;
}
span.textLogo {
  font-size: 12pt;
  letter-spacing: 6px;
  position: absolute;
  margin-left: 50px;
  margin-top: -25px;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-top {
  max-width: 50%;
  width: 45px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.title {
  font-size: 25pt;
  margin-top: 60px;
}
.square {
  border: 1px solid black;
  width: 50%;
}
.form-sketch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noLeftPadding {
  width: 150px !important;
  background: white;
  color: white;
  border: none;
}
.label {
  color: #4a4a4a;
}
.size {
  width: 500px;
}
.subtitle {
  color: #aaaaaa;
  font-size: 12pt;
  padding: 5px;
}
.vertical {
  flex-direction: column;
}
.logoFb {
  width: 20px;
  margin-right: 18px;
}
.buttonFB {
  background: #3a5998;
  color: white;
}
.buttonG {
  background: white;
  border: 1px solid #e5e5e5;
  color: #9b9b9b;
}
.button {
  padding: 12px;
  margin: 4px;
  font-size: 13pt;
  text-decoration: none;
  padding-left: 20px;
  width: 260px;
}
.text-brand {
  font-family: 'Nunito', sans-serif;
}
.navbar-default a{
  font-size: 14px !important
}
.border > a {
  padding: 5px !important;
}
.navbar-default, .navbar-static-top {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: white;
  color: #9b9b9b;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:15px;
  text-align: left;
  line-height: 1.7;
  padding: 1em;
}
.footer-square {
  width: 300px;
}

.change-width {
  width: 225px;
}

.vertical {
  display: flex;
  flex-direction: column;
}
.marginTop {
  margin-top: -13px;
}
.marginMoreTop {
  margin-top: -10px;
}
.margin-top-3 {
  margin-top: -5px;
}
.end {
  align-items: flex-end !important;
}
.footer-font-left {
  font-size: 10pt;
  text-align: left;
}
.footer-font-right {
  font-size: 15px;
  text-align: right;
}
.fotter-font-middle-bottom {
  font-size: 14px;
  margin-top: 20px;
}
.navbar-brand {
  text-decoration: none;
  margin-left: 60px;
}
.middle-width {
  width: 400px;
}

.cierralo-max-width {
  width:100%;
  justify-content: space-between !important;
}

.cierralo-no-center {
  align-items:baseline !important;
}
.cierralo-row-one {
  margin-bottom: 30px;
  margin-left: 140px;
  align-items: flex-start !important;
  margin-top: 41px;
}
.cierralo-phone {
  text-decoration: none;
  color: #9b9b9b;
}
.cierralo-footer-divider {
  border-bottom:1px solid #e5e5e5;
  height:1px;
  width:80%;
  margin-bottom:28px;
}
.cierralo-footer-last-text {
  width: 30%;
  justify-content: space-between;
}
.cierralo-footer-list {
  list-style: none;
}
.cierralo-remove-margin {
  margin-top: 10px;
}
.cierralo-add-padding-left {
  padding-left:9px;
}
.fitLogo {
  width 115px
  height auto
  padding-top 13px
  margin-top -8px
}
.nav {
  zoom: 1;
  margin: 0;
}

.nav ul {
  overflow: hidden;
  padding-left: 0;
  zoom: 1;
}

.nav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-right: 0.8em;
  padding-top: 20px;
  border-top: solid 4px #ffffff;
}
.nav a {
  color: #0d2f4a;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size:13px;
  letter-spacing: 0.1px;
  padding: 8px;
  padding-top 13px;
}
.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
  background-color: transparent;
  color: #444444;
  text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}

.nav a.home {
  background-image: url(../images/skin/house.png);
}

.nav a.list {
  background-image: url(../images/skin/database_table.png);
}

.nav a.create {
  background-image: url(../images/skin/database_add.png);
}
.nav li.dropdown.open ul.dropdown-menu {
  background-color: #4D8618;
}
.language-link {
  color: #ffffff !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.language-link.active {
  color: #b2e1f7 !important;
}
.nav li.active
  border-top solid 4px #318bc5;
.navbar-register-button
  margin-left 10px
  margin-right 60px !important
.navbar-register-button-box
  width 94px
  height 32px
  text-align center
  background-color #c2a463
  margin-top -8px
#neopraxisNavbar
  display none
#neopraxisNavbar.show
  display flex