@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/Montserrat-Black.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/Montserrat-ExtraLight.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/Montserrat-Thin.otf");
  font-weight: normal;
  font-style: normal;
}
.aguaviento-font-montserrat-black {
  font-family: 'Montserrat-Black';
}
.aguaviento-font-montserrat-bold {
  font-family: 'Montserrat-Bold';
}
.aguaviento-font-montserrat-extrabold {
  font-family: 'Montserrat-ExtraBold';
}
.aguaviento-font-montserrat-extralight {
  font-family: 'Montserrat-ExtraLight';
}
.aguaviento-font-montserrat-light {
  font-family: 'Montserrat-Light';
}
.aguaviento-font-montserrat-medium {
  font-family: 'Montserrat-Medium';
}
.aguaviento-font-montserrat-regular {
  font-family: 'Montserrat-Regular';
}
.aguaviento-font-montserrat-semibold {
  font-family: 'Montserrat-SemiBold';
}
.aguaviento-font-montserrat-thin {
  font-family: 'Montserrat-Thin';
}