.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed

  @media screen and (max-width: 767px)
    background-attachment initial

.vertical-center
  align-items center
  display flex
  justify-content center